// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $font-family-sans-serif;
}
header {
    background: $dark_gray;
}

header a {
    color: #ccc;
}

header a:hover {
    color: #ddd;
}

.main {
    padding: 1.25rem;
    max-width: 60rem;
    margin: 0 auto;
}

footer {
    border-top: 0.05rem solid #e5e5e5;
    font-size: 0.9em;
    padding: 1.5rem 0;
    background: $light_gray;
    color: #646464;
    font-size: 12px;
    margin-top: auto;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a {
    color: $blue;
}

.range-box {
    margin: 5px auto;
    position: relative;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 20px;
    width: 100%;
    display: flex;
}

.range {
    position: absolute;
    background: #3490dc;
    height: 100%;
}

.columnar {
    columns: 3;
}

.columnar li {
    break-inside: avoid;
    page-break-inside: avoid;
}
